# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Build output
dist/
build/
.vite/
.output/

# IDE - VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# IDE - IntelliJ
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Project specific data and media
data/database.sqlite*
data/thumbnails/*
videos/*

# Keep directories but ignore contents
!data/.gitkeep
!data/thumbnails/.gitkeep
!videos/.gitkeep

# Docker
.dockerignore
# Usually we keep docker-compose.yml, but ignore local overrides
docker-compose.override.yml
